<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Catogories</h1>
    <a href="catogory/new">new catogory</a>
   <% if (locals.catogories) { %>
        <% catogories.forEach(catogory => { %>
            <a href="/<%= catogory.name %>">
                <div>
                    <!-- <img src="./uploads/<%= catogory.image %>" alt=""> -->
                    <p><%= catogory.name %></p>
                </div>
            </a>
        <% }) %>
   <% } %>
   <a href="/">go back to index</a>
</body>
</html>