<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    
    <form action="/catogory" method="post" enctype="multipart/form-data">
        <% catogories.forEach(catogory => { %>
            <label for="<%= catogory %>"><%= catogory %></label>
            <%- getTag(catogory) %>
        <% }) %>
        <button type="submit">submit</button>
    </form>

    <a href="/catogory">go back</a>
    
</body>
</html>